{#
/**
 * @file
 * Theme override for an additional Resources field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{%
    set title_classes = [
    label_display == 'rjd2' ? 'usa-sr-only',
]
%}
{% block paragraph %}
    {% block content %}
    <section id="test" class="ia-toc-section-wrapper margin-y-4">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <h2 class="call-out">
                    {{ content.field_guide_sec_title }}
                </h2>
            </div>
        </div>

            <div class="grid-row grid-gap">
                <div class="grid-col-12">
                    <div>
                        {{ content.field_guide_sec_detail }}
                    </div>
                </div>
            </div>

            <div class="ia-guide-key-actions-wrapper">
                <div class="grid-row grid-gap-2">
                    {% for key, item in node.field_guide_sectioninfo.entity.field_guide_sec_keyaction if key|first != '#' %}
                        <div class="tablet:grid-col-4 blue-rounded-cards">
                            <p>link and url goes here</p>
                        </div>
                    {% endfor %}
                </div><!-- /.grid-row.grid-gap-2 -->
            </div><!-- /.ia-guide-key-actions-wrapper -->


            <div class="grid-row grid-gap">
                <div class="grid-col-12">
                    {{ content.field_block_reference }}
                </div>
            </div>
    </section>
    {% endblock %}
{% endblock paragraph %}
