<header class="usa-card__header">
    <h3 class="usa-card__heading">{{ content.field_jobtitle }}</h3>
</header>
<div class="usa-card__body">
    {{ content.field_address }}
    {{ content.field_phone }}
    {{ content.field_fax }}
</div>
