{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region_header()
 */
#}

<!-- Site Alert -->
<section class="usa-site-alert usa-site-alert--info usa-site-alert--slim" aria-label="Site alert">
    <div class="usa-alert" >
        <div class="usa-alert__body">
            <p class="usa-alert__text"><strong>COVID-19 Updates and Information</strong> <a class="usa-link" href="https://www.bia.gov/covid-19">Following guidance from the White House, Centers for Disease Control and Prevention...</a></p>
        </div>
    </div>
</section>
<!-- END Site Alert -->