

<h4 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="true" aria-controls="a{{ loop.index }}">
        {{ output -}}
    </button>
</h4>
<Strong>{{ view.result | length  }}</Strong>
