{# *
 @file
 * Manual override of specific view field template
 * views-view-field–{views machine name}–{page or block machine name}–{field name}.html.twig
 *
        views machine name: front_page_news_3_cards
        page/block name: block_1
        field: field_view_node
 * ----
 * @author - christopherj.allen@bia.gov
 * ----
#}

<div class="usa-card__footer flex-align-self-center">
    <button class="usa-button usa-button--accent-cool ">{{ output -}}</button>
</div>