{#
Manual template override of views/field
field: title

#}


<header class="usa-card__header">
    <a href="#" class="text-no-underline"></a>
    <h2 class="usa-card__heading margin-top-1">{{ output -}}</h2>
</header>