{#
/**
 * @file
 * Default theme implementation to display custom classes around Tribal Consultations - Contact Us field
 * ----
 * @author - christopherj.allen@bia.gov
 * ----
#}

<div class="grid-col">
	{% for item in items %}
			{{ item.content }}
	{% endfor %}
</div>