{#
/**
 * @file
 * Theme override for:
 * Node Type = Tribal Consultations
 * Field = 	Related Services (field_service_relatedservice)
 */
#}

<div class="grid-col-12 desktop:grid-col-5 margin-bottom-4">
	{% if label_hidden==false %}
		<h2 class="call-out" {{ title_attributes.addClass(title_classes)}}>{{ label }}</h2>
	{% endif %}
	
    {% for item in items %}
        {{ item.content }}
    {% endfor %}
</div>